@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>BookStore</title>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
    <div>
        <h1 class="text"><i>BookStore</i></h1>
        <table class="filter">
            <tr>
                <td><input type="text" value="Search string" class="filterInput"></td>
                <td width="120" align="center"> 
                    <form method="post">
                        <p>Currency:
                        <select name="SiteCurrency">
                            @foreach (var curCode in ViewBag.Currency)
                            {
                                <option value="@curCode">@curCode</option>
                            }
                        </select>
                        </p>
                    </form>
                </td>
                <td width="25" align="center"><p><a href="/Home/Backet">Backet</a></p></td>
            </tr>
        </table>
        <table class="data">
            <tr>
                <th>Author</th>
                <th>Book title</th>
                <th>The year of publishing</th>
                <th>Price</th>
                <th>Format</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Authors</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Year</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p>@b.Format</p></td>
                    <td><p><a href="/Home/Preview/@b.BookId">Preview</a></p></td>
                    <td><p><a href="/Home/Buy/@b.BookId">Buy</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>